[Unit]
Description=GridMind Master Node Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/GridMind
ExecStart=/usr/bin/python3 %h/GridMind/master-daemon-rework.py
Restart=always
RestartSec=5

Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gridmind-master

MemoryMax=256M
CPUQuota=50%

#PrivateTmp=yes
#ProtectSystem=strict
#ProtectHome=read-only
#NoNewPrivileges=true

[Install]
WantedBy=default.target
